html, body
{
  /* my defaults https://www.w3.org/Style/Examples/007/fonts.en.html */
  
  margin: 175px;
  font-family: Apple Chancery, cursive;
  color: black;
  background-color: purple;
  opacity: 0.6;
  font-size: 175%;
}
header {
  margin: 10px; 
  text-align: center;
}

h2 {
  text-align: center;
}
.navbar ul {
  float: right;
  list-style: none;
  height: inherit;
  line-height: 25px;
  padding: 0;
  margin: 0;
  background: #ddd;
}

/* https://stackoverflow.com/questions/70292469/css-navbar-style */

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  display: block;
  text-align: center;
  min-width: 120px;
  padding: 20px;
}

.navbar ul li a:hover {
  background-color: orange;
}
.content {
   clear: both;
}
footer {
  margin-left: 10px;
  text-align: center;
}
