html, body
{
  /* my defaults */
  margin: 175px;
  font-family: Apple Chancery, cursive;
  color: black;
  background-color: purple;
  opacity: 0.6;
  font-size: 175%;
}
.navbar ul {
  float: left;
  list-style: none;
  height: inherit;
  line-height: 25px;
  padding: 0;
  margin: 0;
  background: #ddd;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  display: block;
  text-align: center;
  min-width: 120px;
  padding: 20px;
}

.navbar ul li a:hover {
  background-color: orange;
}
.content {
   clear: both;
}
